/*
Theme Name:     Neve Child
Theme URI:      https://themeisle.com/themes/neve/
Template: neve
Author:         ThemeIsle
Author URI:     https://themeisle.com
Description:    Neve is a super fast, easily customizable, multi-purpose theme. It’s perfect for blogs, small business, startups, agencies, firms, e-commerce shops (WooCommerce storefront) as well as personal portfolio sites and most types of projects. A fully AMP optimized and responsive theme, Neve will load in mere seconds and adapt perfectly on any viewing device. While it is lightweight and has a minimalist design, the theme is highly extendable, it has a highly SEO optimized code, resulting in top rankings in Google search results. Neve works perfectly with Gutenberg and the most popular page builders (Elementor, Brizy, Beaver Builder, Visual Composer, SiteOrigin, Divi). Neve is also WooCommerce ready, responsive, RTL & translation ready. Look no further. Neve is the perfect theme for you!
Version:        1.0.0
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    neve
Tags: blog, custom-logo, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready, wide-blocks, block-styles
*/


/* 2021.10.6 ADD FAQ */

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
        font-family: 'FontAwesome', sans-serif;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
}
.cp_qa dt {
        position: relative;
        margin: 0 0 1.5em 0;
}
.cp_qa dd {
        position: relative;
        margin: 0 0 2em 0;
        padding: 0 0 1.5em 2em;
        border-bottom: 1px dotted #0097a7;
}
.cp_qa dt::before, .cp_qa dd::before {
        font-size: 1.2em;
        margin: 0 0.5em 0 0;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 1.2em;
}
.cp_qa dt::before {
        padding: 0.1em 0.3em;
        content: 'Q';
        background: #f57c00;
}
.cp_qa dd::before {
        padding: 0.12em 0.45em;
        content: 'A';
        background: #0097a7;
}
.cp_qa dt::after, .cp_qa dd::after {
        position: absolute;
        top: 0.5em;
        display: inline-block;
        width: 0;
        height: 0;
        content: '';
        border-width: 5px 0 5px 5px;
        border-style: solid;
}
.cp_qa dt::after {
        left: 1.5em;
        border-color: transparent transparent transparent #f57c00;
}
.cp_qa dd::after {
        left: 3.5em;
        border-color: transparent transparent transparent #0097a7;
}
/*
table{
  border-collapse: collapse;
  width: 100%;
}
.tb01 th,
.tb01 td{
  padding: 10px;
  border: solid 1px #ccc;
  text-align:center;
  box-sizing:border-box;
}
*/
form.wpcf7-form{
  color: darkorange;
}

/* 2021.10.16 ADD CONTACT FORM 7 FOR SMARTSLIDER3 */
.table-cf7-on-smartslider3 table {
    width: 100%;
}
/*一行ごとに上ボーダー*/
.table-cf7-on-smartslider3 tr {
    /* border-top: 1px #DDD solid; */
}
/*td内の余白指定*/
.table-cf7-on-smartslider3 td {
    /* border-top: 1px #DDD solid; */
    border: none;
    padding: 0.5em;
}
/*一番上の行だけボーダーなし*/
.table-cf7-on-smartslider3 tr:first-child {
    border-top: none;
}
/*奇数行だけ背景色つける*/
.table-cf7-on-smartslider3 tr:nth-child(2n+1) {
    /* background: #eee; */
}
/*th内の余白指定*/
.table-cf7-on-smartslider3 th {
    padding: 0.5em;
}
/*th（項目欄）は30%幅、テキストを右寄せ*/
.table-cf7-on-smartslider3 th {
    width: 30%;
    text-align: right;
}
/*「必須」部分のスタイリング*/
.table-cf7-on-smartslider3 .requied {
    font-size: 0.8em;
    color: #FFF;
    display: inline-block;
    padding: 0.3em 0.3em 0.2em;
    background: red;
    border-radius: 2px;
}

#wp-block-themeisle-blocks-advanced-columns-bdaabea6 {
    background-color: var(--nv-dark-bg) !important;
    color: #fff;
}

#wp-block-themeisle-blocks-advanced-heading-8210511f,
#wp-block-themeisle-blocks-advanced-heading-15191ef2 {
    margin-top: 4em !important;
}

.wp-block-what-client-say .wp-block-image figure {
    /*position: absolute;*/
    /*left: 34%;*/
    /*top: -19%;*/
    /*overflow: visible;*/
}

.wp-block-what-client-say .wp-block-themeisle-blocks-advanced-column {
    /*min-height: 460px;*/
}

.wp-block-what-client-say .is-style-rounded {
    top: -5em;
    position: absolute;
    width: 92%;
}

.quote-answer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
}

.quote-answer .item1 {
    grid-column: 1 / 3;
}

.quote-answer .item2 {
    margin: 20px 12px 0;
    font-size: 1em !important;
}

.quote-answer .item3 {
    height: 100%;
    align-items: flex-end;
    display: flex;
}

.fuji-home-title {
    white-space: nowrap;
    text-align: center;
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    color: var(--nv-site-bg);
    font-size: 4em;
    margin-bottom: 1.2em;
}

.fuji-home-title1 {
    white-space: nowrap;
    text-align: center;
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--nv-dark-bg);
}

.fuji-home-title-color,
.fuji-title-color {
    color: var(--nv-dark-bg);
}

.fuji-about-sub {
    line-height: 1.4em;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75em;
    color: var(--nv-site-bg);
}

.wc-block-grid__products .wc-block-grid__product{
    display: grid;
    grid-template-columns: 35% auto;
}

.wc-block-grid__products .wc-block-grid__product__infor{
    text-align: left;
    margin: auto 0 auto 2em;
}

.wc-block-grid__products .wc-block-grid__product-price {
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7em;
    color: var(--nv-text-color);
}

.wc-block-grid__products .wc-block-grid__product-title {
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7em;
    color: var(--nv-dark-bg);
}

.wc-block-grid__products .wc-block-grid__product-short-description {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--nv-text-color);
}

.container-fuji {
    width: 95vw;
}

.nav-ul a:hover,
.nav-ul li.current-menu-item>a,
.nv-icon.nv-cart,
.nav-ul li a {
    color: var(--nv-site-bg);
}

.fuji-about-us,
.fuji-it-service {
    width: 80vw;
    margin: 0 auto;
}

.fuji-margin20 {
    margin-bottom: 20px !important;
}

.fuji-about-us p {
    margin: initial;
    font-size: 28px;
}

.fuji-about-us-header-block {
    text-align: left;
    width: 65vw;
    margin: 0 auto;
}

.fuji-title {
    white-space: nowrap;
    text-align: center;
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
}

.fuji-title-left {
    text-align: left;
}

.fuji-title1 {
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
}

.fuji-title2 {
    font-size: 1.5em;
}

.fuji-learning-service-regular-house {
    padding: 2vw;
}

.fuji-about-ext {
    width: 50%;
    margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .quote-answer {
        width: 75%;
    }
    .fuji-whatclientsay-top {
        margin-bottom: 0.2vh;
    }
    .fuji-home-title {
        font-size: 2em;
        margin-bottom: 2.2em;
    }

    .wp-block-what-client-say .is-style-rounded {
        width: 85%;
    }
}
